<% content_for(:title) { 'Students' } %>

<div class="view_student_edit row">
	<div class="span well">
		<div class="span12">
			<h2>Edit a student</h2>
		</div>
		<%= render "form",action: "update",cancel_path: student_path(@student.id)%>
	</div>
</div>
</div>