<% content_for(:title) { 'Edit sponsor' } %>

<div class="view_sponsor_edit row">
	<div class="span well">
		<div class="span12">
			<h2>Edit an existing sponsor</h2>
		</div>
		<%= render "form",action: "update",cancel_path: sponsor_path(@sponsor.id)%>
	</div>
</div>