<% content_for(:title) { 'Sponsors' } %>

<div class="view_sponsor_new row">
	<div class="span well"> 
		<div class="span12">
			<h2>Add a new sponsor</h2>
		</div>
		<%= render "form",action: "create",cancel_path: sponsors_path%>
	</div>

</div>